.env
.vscode-test/
*.vsix
node_modules/
openapitools.json
out/
src/colab-config.ts
src/colab/client/v2/colab-api-fixed.json
src/colab/client/v2/generated/*/.openapi-generator/
src/colab/client/v2/operations-api-fixed.json
src/jupyter/client/post-processed-api.yaml
src/jupyter/client/generated/.openapi-generator/
.worktrees/
