{
  "printWidth": 80,
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.mts", "**/*.js", "**/*.mjs"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["src/colab/client/v2/*-api.json"],
      "options": {
        "plugins": ["prettier-plugin-sort-json"],
        "jsonRecursiveSort": true
      }
    }
  ]
}
