{
  "servers": [
    {
      "url": "https://colaboratory.googleapis.com",
      "description": "Global Endpoint"
    }
  ],
  "openapi": "3.0.3",
  "paths": {
    "/v1/operations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "get": {
        "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.",
        "operationId": "ListOperations",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/colaboratory"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/colaboratory"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "description": "The standard list filter.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "description": "The standard list page size.",
            "in": "query",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "description": "The standard list page token.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnPartialSuccess",
            "description": "When set to `true`, operations that are reachable are returned as normal,\nand those that are unreachable are returned in the\nListOperationsResponse.unreachable\nfield.\n\nThis can only be `true` when reading across collections. For example, when\n`parent` is set to `\"projects/example/locations/-\"`.\n\nThis field is not supported by default and will result in an\n`UNIMPLEMENTED` error if set unless explicitly documented otherwise in\nservice or product specific documentation.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "tags": ["colaboratory"],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationsResponse"
                }
              }
            },
            "description": "Successful operation"
          }
        }
      }
    },
    "/v1/operations/{operationsId}:cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ],
      "post": {
        "operationId": "CancelOperation",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/colaboratory"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/colaboratory"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "description": "Part of `name`. The name of the operation resource to be cancelled.",
            "in": "path",
            "name": "operationsId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of `1`,\ncorresponding to `Code.CANCELLED`.",
        "tags": ["colaboratory"],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "The request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOperationRequest"
              }
            }
          }
        }
      }
    },
    "/v1/operations/{operationsId}": {
      "get": {
        "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
        "operationId": "GetOperation",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/colaboratory"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/colaboratory"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "description": "Part of `name`. The name of the operation resource.",
            "in": "path",
            "name": "operationsId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": ["colaboratory"],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["colaboratory"],
        "responses": {
          "default": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
        "operationId": "DeleteOperation",
        "security": [
          {
            "google_oauth_implicit": [
              "https://www.googleapis.com/auth/colaboratory"
            ]
          },
          {
            "google_oauth_code": [
              "https://www.googleapis.com/auth/colaboratory"
            ]
          },
          {
            "bearer_auth": []
          }
        ],
        "parameters": [
          {
            "name": "operationsId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Part of `name`. The name of the operation resource to be deleted.",
            "in": "path"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/_.xgafv"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "CancelOperationRequest": {
        "description": "The request message for Operations.CancelOperation.",
        "type": "object"
      },
      "ExecuteCodeResult": {
        "description": "The result of an `ExecuteCode` call, returned as the terminal\n`structured_content` of the response stream.",
        "type": "object",
        "properties": {
          "result": {
            "description": "The `text/plain` representation of the last expression's value, if the\nexecution ended on an expression. Empty otherwise.",
            "type": "string"
          },
          "outputTruncated": {
            "description": "Whether the runtime truncated buffered output (size or line caps hit). When\ntrue, `stdout`/`stderr` are tail-truncated.",
            "type": "boolean"
          },
          "richOutputsDropped": {
            "description": "Whether the execution produced rich (non-text) outputs that this tool does\nnot surface (e.g. images, Plotly/Vega figures, widgets). Always false for\nexecutions that produced only text.",
            "type": "boolean"
          },
          "executionId": {
            "description": "The execution identifier this result is for, echoed from the request. Empty\nwhen the request supplied no `execution_id` (such an execution is not\nresumable). Use it to resume.",
            "type": "string"
          },
          "session": {
            "description": "The session the execution ran in.\nFormat: `runtimes/{runtime}/sessions/{session}`.",
            "type": "string"
          },
          "executionCount": {
            "description": "The Jupyter `In[N]` execution count assigned by the kernel. Informational\nonly. Not for addressing executions, for that use `execution_id`.",
            "type": "integer",
            "format": "int32"
          },
          "stderr": {
            "description": "Aggregated stderr across the execution.",
            "type": "string"
          },
          "executionError": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Error"
              }
            ],
            "description": "Populated when the execution raised. Mutually exclusive with a successful\ncompletion."
          },
          "stdout": {
            "description": "Aggregated stdout across the execution.",
            "type": "string"
          }
        }
      },
      "ListOperationsResponse": {
        "description": "The response message for Operations.ListOperations.",
        "type": "object",
        "properties": {
          "nextPageToken": {
            "description": "The standard List next-page token.",
            "type": "string"
          },
          "unreachable": {
            "description": "Unordered list. Unreachable resources. Populated when the request sets\n`ListOperationsRequest.return_partial_success` and reads across\ncollections. For example, when attempting to list all resources across all\nsupported locations.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-google-unordered-list": true
          },
          "operations": {
            "description": "A list of operations that matches the specified filter in the request.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Operation"
            }
          }
        }
      },
      "Empty": {
        "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }",
        "type": "object"
      },
      "Error": {
        "description": "A Python exception raised during execution.",
        "type": "object",
        "properties": {
          "name": {
            "description": "The exception class name, e.g. \"NameError\".",
            "type": "string"
          },
          "traceback": {
            "description": "The formatted traceback, one frame per entry.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "value": {
            "description": "The exception message, e.g. \"name 'foo' is not defined\".",
            "type": "string"
          }
        }
      },
      "Operation": {
        "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseOperation"
          },
          {
            "properties": {
              "metadata": {
                "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                "type": "object",
                "additionalProperties": {
                  "description": "Properties of the object. Contains field @type with type URL."
                }
              },
              "response": {
                "description": "The normal, successful response of the operation.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                "type": "object",
                "additionalProperties": {
                  "description": "Properties of the object. Contains field @type with type URL."
                }
              }
            },
            "type": "object"
          }
        ]
      },
      "Status": {
        "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors).",
        "type": "object",
        "properties": {
          "code": {
            "description": "The status code, which should be an enum value of google.rpc.Code.",
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
            "type": "string"
          },
          "details": {
            "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
            "type": "array",
            "items": {
              "additionalProperties": {
                "description": "Properties of the object. Contains field @type with type URL."
              },
              "type": "object"
            }
          }
        }
      },
      "BaseOperation": {
        "properties": {
          "name": {
            "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should be a resource name ending with `operations/{unique_id}`.",
            "type": "string"
          },
          "done": {
            "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
            "type": "boolean"
          },
          "error": {
            "description": "The error result of the operation in case of failure or cancellation.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Status"
              }
            ]
          }
        },
        "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
        "type": "object"
      }
    },
    "parameters": {
      "callback": {
        "name": "$callback",
        "description": "JSONP",
        "schema": {
          "type": "string"
        },
        "in": "query"
      },
      "prettyPrint": {
        "name": "$prettyPrint",
        "description": "Returns response with indentations and line breaks.",
        "schema": {
          "default": "true",
          "type": "boolean"
        },
        "in": "query"
      },
      "_.xgafv": {
        "name": "$.xgafv",
        "description": "V1 error format.",
        "schema": {
          "enum": ["1", "2"],
          "x-google-enum-descriptions": ["v1 error format", "v2 error format"],
          "type": "string"
        },
        "in": "query"
      },
      "alt": {
        "name": "$alt",
        "description": "Data format for response.",
        "schema": {
          "enum": ["json", "media", "proto"],
          "default": "json",
          "type": "string",
          "x-google-enum-descriptions": [
            "Responses with Content-Type of application/json",
            "Media download with context-dependent Content-Type",
            "Responses with Content-Type of application/x-protobuf"
          ]
        },
        "in": "query"
      }
    },
    "securitySchemes": {
      "bearer_auth": {
        "scheme": "bearer",
        "type": "http",
        "description": "Http bearer authentication."
      },
      "google_oauth_implicit": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 implicit authentication flow.",
        "flows": {
          "implicit": {
            "scopes": {
              "https://www.googleapis.com/auth/colaboratory": "Read, write, and delete your Colab resources"
            },
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth"
          }
        }
      },
      "google_oauth_code": {
        "type": "oauth2",
        "description": "Google Oauth 2.0 authorizationCode authentication flow.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "refreshUrl": "https://oauth2.googleapis.com/token",
            "scopes": {
              "https://www.googleapis.com/auth/colaboratory": "Read, write, and delete your Colab resources"
            },
            "tokenUrl": "https://oauth2.googleapis.com/token"
          }
        }
      }
    }
  },
  "info": {
    "description": "colaboratory.googleapis.com API.",
    "x-google-revision": "20260622",
    "version": "v1",
    "title": "Colab API"
  },
  "externalDocs": {
    "description": "Find more info here.",
    "url": "https://developers.google.com/colab"
  }
}
